@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1694689033165') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spotify:before {
  content: "\e807";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-netease:before {
  content: "\e68a";
}

.icon-bandcamp:before {
  content: "\eb4a";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

